/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Helvetica, sans-serif;
}






.home-sadrzaj {
    padding: 2rem;
    background-color: black;
    color: white;
  }
  
  .skriveno {
    display: none;
  }
  
  
  
  
  
  .menu-icon {
    font-size: 3rem;
    cursor: pointer;
    display: block;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu {
    display: none;
    flex-direction: column;
    background-color: black;
    padding: 1rem;
    position: absolute;
    top: 2.5rem;
    left: 0;
    border: 1px solid white;
  }
  
  #menu-toggle:checked + .menu-icon + .menu {
    display: flex;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    margin: 0.5rem 0;
  }
 
  
.mask-mob-bijeli,
.mask-mob-lijevo,
.mask-mob-desno {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;

  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.mask-mob-lijevo {
  left: 0;
  animation-name: maskLijevo;
  background-color: black;
}

.mask-mob-desno {
  right: 0;
  animation-name: maskDesno;
  background-color: black;
}

.mask-mob-bijeli {
  left: 0;
  animation-name: maskLijevo;
  background-color: white;
}

/* ANIMACIJE */
@keyframes maskLijevo {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

@keyframes maskDesno {
  0% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}

@keyframes maskDesno {
  0% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}
